.container {
  width: 100%;
  min-height: calc(100vh - 56px);
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contents {
    width: 1180px;
    margin: 136px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.movie_list {
  > div {
    > div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 40px;
      row-gap: 40px;
      column-gap: 20px;
    }
  }
}

.no_result {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  opacity: 0;
  animation: fadein 0.3s ease-in-out 1s forwards;

  p {
    &:first-of-type {
      font-size: 140px;
      font-weight: 800;
      line-height: 1.2em;
      margin-bottom: 40px;
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
