// https://nextjs.org/docs/app/building-your-application/styling/sass

// COLOR
$black: #000000;
$lightBlack: rgba(0, 0, 0, 0.4);

$green: #2c8e71;

$white: #ffffff;
$deepWhite: #ffffffcc;
$opacityWhite: #ffffff99;
$boxBG: #ffffff1a;

$gray: rgba(0, 0, 0, 0.7);
$deepGray: #222222;
$darkGray: #00000026;

// FONT SIZE
$logo: 20px;
$menu: 18px;
