.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1148px;

  a {
    color: $green;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
